<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="notificationHub:Url" value="http://localhost:9080/signalr"/>
    <add key="notificationHub:Name" value="TaskManagerHub"/>
    <add key="notificationHub:Actions:PushNotifications" value="PushNotifications"/>
    <add key="logging:fileName" value="ServiceLogs"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
